@{
    ViewData["Title"] = "Save";
}
@model ContactWithPhoneNumbersViewModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<div class="container rounded p-5 my-3 bg-gradient bg-success text-white">
    <p class="text-center h1">Create Contact</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card w-100 rounded bg-gradient bg-info">
            <div class="card-body">
                <form asp-action="Save" method="post" asp-controller="Contacts">
                    <div class="form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" placeholder="Enter the first name... (necessary)" />
                        <span asp-validation-for="FirstName" class="text-light bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" placeholder="Enter the last name... (necessary)" />
                        <span asp-validation-for="LastName" class="text-light bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Enter the email... (optional)" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Profession">Profession</label>
                        <input asp-for="Profession" class="form-control" placeholder="Enter the profession... (optional)" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Enter the address... (optional)" />
                    </div>

                    <div class="form-group">
                        <label asp-for="WebAddress">Web Address</label>
                        <input asp-for="WebAddress" class="form-control" placeholder="Enter the web address... (optional)" />
                    </div>

                    <div class="form-group">
                        <label asp-for="NickName">Nickname</label>
                        <input asp-for="NickName" class="form-control" placeholder="Enter the nickname... (optional)" />
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumbers[0].PhoneNo">Phone Number</label>

                        <div class="input-group">
                            <input asp-for="PhoneNumbers[0].PhoneNo" class="form-control" placeholder="Enter the phone number... (optional)" />
                            <button class="input-group-btn btn btn-success" id="AddButton" type="button">
                                <i class="bi bi-plus-circle"></i>
                                Phone Number
                            </button>
                        </div>
                        <span asp-validation-for="PhoneNumbers[0].PhoneNo" class="text-white bg-danger"></span>
                    </div>

                    <div id="phoneNumberBoxContainer">
                    </div>

                    <div class="form-group my-1">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check2-square"></i>
                            Create Account
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var i = 1;
            $("#AddButton").click(function() {
                var div = $("<div />");
                div.attr("class", "input-group my-1");
                var value = "";

                var phoneNumberBox = $("<input />").attr("class", "form-control").attr("name", "PhoneNumbers[" + i + "].PhoneNo")
                    .attr("placeholder", "\"Enter the phone number... (optional)\"");
                phoneNumberBox.val(value);

                var buttonIcon = $("<i />");
                buttonIcon.attr("class", "bi bi-trash");
                var buttonText = $("<span />");
                buttonText.text("Remove");

                var removeButton = $("<button />").attr("type", "button").attr("class", "input-group-btn btn btn-danger");
                removeButton.attr("onclick", "RemoveTextBox(this)");
                removeButton.append(buttonIcon);
                removeButton.append(buttonText);


                div.append(phoneNumberBox);
                div.append(removeButton);

                $("#phoneNumberBoxContainer").append(div);
                ++i;


            })

        })
        function RemoveTextBox(removeButton) {
            $(removeButton).parent().remove();
        }
    </script>

}

